<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header" />

<body>
<div th:replace="common/header :: navbar" />

<div class="container">

    <hr   style="position: absolute; width: 100%; height: 6px; background-color: #333; z-index: -1; margin-top: -80px;" />


    <div class="row" style="margin-top:200px; margin-bottom:200px" >
        <div class="col-xs-9 col-xs-offset-3">
            <h3>About us</h3><br>
            <p><h4><b>find us</b></h4>
            <h5>In the heart of Brussels, only a five minute walk from the Petilon metro station, on a very cosy square.</h5></p>
            <h5>Boulevard Louis schmidt 35<br>
                Michel Angelo Building<br>
                1040 Brussels</h5><br>

            <p><h4><b>we are open</b></h4>
                Monday to Sunday<br>
                10 am to 6 pm</p>

            <p><h5> Our plant store stay open & we serve coffee to go.</h5><br>

            <h5> * we’re open all official holidays. Closed on Christmas & New Year.</h5><br>

               <h4><b>contact us</b></h4>
            <h5><a href="sameerun.shaikh@gmail.com" >sameerun.shaikh@gmail.com</a></h5>


                </p>
        </div>
    </div>
</div>
<!-- end of container -->
<div th:replace="common/header :: footer"/>

<div th:replace="common/header :: body-bottom-scripts" />
</body>
</html>
