<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
	xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:fragment="common-header">
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<title>E-Plants</title>

<!-- Bootstrap core CSS -->
<link href="/css/bootstrap.min.css" rel="stylesheet" />

<link href="/css/non-responsive.css" rel="stylesheet" />

<!-- data table -->
<link th:href="@{/css/jquery.dataTables.min.css}" rel="stylesheet" />
<link th:href="@{/css/dataTables.bootstrap.min.css}" rel="stylesheet" />

<link th:href="@{/css/font-awesome.min.css}" rel="stylesheet" />

<!-- Custom styles for this template -->
<link href="/css/style.css" rel="stylesheet" />


<link rel="icon" href="/image/applie-touch-icon.png" />
</head>

<body>
	<div th:fragment="navbar">
		<div class="page-top"
			style="width: 100%; height: 10px; background-color: #008080;"></div>
		<!-- Static navbar -->
		<nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" th:href="@{/}"><span class="glyphicon glyphicon-home"></span> E-Plants</a>
				</div>
				<div id="navbar">
					<ul class="nav navbar-nav navbar-left">
						<li class="dropdown">
							<a th:href="@{/plantshelf}" class="navbar-brand dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
								<span class="glyphicon glyphicon-list-alt"></span> Plants
								<span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								<li><a th:href="@{/plantshelf}"><span class="glyphicon glyphicon-th-list"></span> Browse All plants</a></li>
								<li><a th:href="@{/searchByCategory(category='hanging')}"
							class="list-group-item"><span class="glyphicon glyphicon-plant"></span> Hanging</a></li>
							
							<li><a th:href="@{/searchByCategory(category='indoor')}"
							class="list-group-item"><span class="glyphicon glyphicon-plant"></span> Indoor plants</a></li>
							
							
							<li><a th:href="@{/searchByCategory(category='outdoor')}"
							class="list-group-item"><span class="glyphicon glyphicon-plant"></span> Outdoor plants</a></li>

							<li><a th:href="@{/faq}"><span class="glyphicon glyphicon-question-sign"></span> FAQ</a></li>

							</ul></li>

					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a th:href="@{/shoppingCart/cart}"><span
								class="glyphicon glyphicon-shopping-cart"></span> Shopping Cart</a></li>
						<li><a sec:authorize="isAnonymous()" th:href="@{/login}"><span
								class="glyphicon glyphicon-user"></span> My Account</a></li>

						<li><a sec:authorize="isAuthenticated()"
							th:href="@{/myProfile}"><span
								class="glyphicon glyphicon-user"></span> <span sec:authentication="name"> Username</span></a></li>
						<li><a sec:authorize="isAuthenticated()" th:href="@{/logout}"><span
								class="glyphicon glyphicon-log-out"></span> Logout</a></li>
						<li><form class="navbar-form" th:action="@{/searchPlant}" method="post">
							<div class="form-group">
								<input type="text" name="keyword" class="form-control"
									   placeholder="plant name" />
							</div>

							<button type="submit" class="btn btn-info btn-sm"><span
									class="glyphicon glyphicon-search"></span> Search</button>

						</form></li>
					</ul>

				</div>
				<!--/.nav-collapse -->
			</div>
			<!--/.container-fluid -->
		</nav>
	</div>

	<div th:fragment="footer">
		<br />
		<br />
		<footer>
			<div class="row">
				<div class="col-xs-4 padding top-bottom">
					<h4 class="heading5">Contact</h4>
					<ul class="post">
						<p>
							<i class="fa fa-map-pin"></i> Brussels - Belgium
						</p>
						<p>
							<i class="fa fa-phone"></i> Phone : +32 473514873
						</p>
						<p>
							<i class="fa fa-envelope"></i> E-mail : sameerun.shaikh@gmail.com
						</p>
					</ul>
				</div>
				<div class="col-xs-4 padding  top-bottom">
					<h4 class="heading5">Links</h4>
					<ul class="footer-ul">
						<li><a href="#"> Privacy Policy</a></li>
						<li><a href="#"> Terms &#38; Conditions</a></li>
						<li><a href="#"> Frequently Ask Questions</a></li>
						<li><a th:href="about.html">About us</a></li>
						<li><a href="#">Sameerun Acchukatla</a></li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="copyright">
						<p>© 2022 - All Rights Reserved</p>
					</div>
				</div>
			</div>
		</footer>


	</div>

	<div th:fragment="body-bottom-scripts">
		<script th:src="@{/js/jquery.min.js}"></script>
		<script src="/js/bootstrap.min.js"></script>

		<script th:src="@{/js/scripts.js}"></script>

		<!-- data table -->
		<script th:src="@{/js/jquery.dataTables.min.js}"></script>
		<script th:src="@{/js/dataTables.bootstrap.min.js}"></script>
	</div>
</body>
</html>